 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
    table {
      border: 1px solid #d8d8d8;
      border-collapse: separate;
      border-spacing: 0px;
      border-radius: 10px;
      font-family: Montserrat, Arial, sans-serif;
      background: #fafafa;
      margin: 0 auto;
      width: 60%;
    }
  table td{
    border: 1px solid #cccaca;
  }
    tr:nth-child(odd) {
      background: #dddddd;
    }
    .col_left {
      text-align: left;
      padding: 2px;
      font-weight: bold;
      font-size: 15px;
    }
    .col_rigth {
      text-align: right;
      font-size: 15px;
      font-weight: bold;
      padding: 2px;
      color: #00642c;
    }
    thead .col_left {
      text-align: start;
      font-size: 18px;
      font-weight: bold;
      color: #00642c;
      border-top-left-radius: 10px;
    }

    thead .col_rigth {
      border-top-right-radius: 10px;
    }

    table tfoot .col_rigth {
      border-bottom-right-radius: 10px;
    }

    table tfoot .col_left {
      border-bottom-left-radius: 10px;
    }
